* {
  box-sizing: border-box;
  font-family: Source Han Sans CN, -apple-system, BlinkMacSystemFont, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

p {
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.el-popper {
  z-index: 9999999 !important;
  position: absolute !important;
}
