$sideBar: (
  base: (
    keyWidth: 60px,
    menuWidth: 200px,
  ),
  user: (
    height: 50px,
  ),
);

$header: (
  base: (
    height: 60px,
  ),
);

$footer: (
  base: (
    height: 40px,
  ),
);

$tag: (
  base: (
    height: 40px,
  ),
);
